.futer {
  background: #0e2559;
  padding-top: 50px;
  
}
.futer__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 30px;

}
.futer__more-info {
  display: flex;
}

.futer__more-info a {
  text-decoration: none;
  color: #fff;
  flex-shrink: 0;
}

.ask {
  padding: 0 20px;
}

.futer__logo {
  margin-bottom: 32px;
}



.futer__link img {
  margin-right: 6px;
}

.futer__link a {
  text-decoration: none;
  display: flex;
  align-items: flex-start;
}
.futer__links {
  font-size: 15px;
  line-height: 18px;
}

.futer__links p {
  color: #fff;
  font-weight: normal;
}

.futer__link-name {
  font-weight: 600;
  color: #ffca42;
}

.futer__meseng {
  display: flex;
  margin-bottom: 20px;
}

.futer__contact {
  margin-right: 66px;
}

.futer__contact span {
  font-size: 15px;
  line-height: 18px;
  color: #b4c2f7;
}

.futer__contact__tel-number {
  font-family: Inter;
  font-style: normal;
  margin-bottom: 20px;
}

.futer__contact__tel-number h4 {
  font-size: 15px;
  line-height: 18px;
  color: #ffffff;
}

.futer__contact__tel-number p {
  flex-shrink: 0;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #ffca42;
}

.Number {
  display: flex;
  align-items: center;
}

.futer__contact-map p{
  font-size: 15px;
line-height: 18px;
color: #FFFFFF;
flex-shrink: 0;
}

.futer__raight button{
  background: linear-gradient(180deg, #FFE299 0%, #FFBB0C 100%);
  border-radius: 60px;
  margin: 0 auto;
  padding: 16px 18px 16px 23px;
  border: none;
  max-width: 286px;
  width: 100%;
  display: block;
  font-weight: 500;
font-size: 14px;
line-height: 17px;
color: #000000;
display: flex;
align-items: center;
justify-content: center;
column-gap: 13px;
margin-bottom: 21px;
}

.futer__raight-text{
  font-size: 14px;
line-height: 17px;
text-align: center;
color: #FFFFFF;
max-width: 236px;
}