.info {
  margin-top: 90px;
  background: #1f56d5;
  padding-top: 60px;
}

.info__title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 30px;
  text-align: center;
  color: #ffffff;
}
.info__title2 {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
  text-align: center;
  padding-bottom: 21px;
}
.info__inputs {
  background: #ffffff;
  border-radius: 50px;
  display: inline-flex;
  overflow: hidden;
  padding-left: 28px;
  display: block;
}
.info__name {
  border: none;
  font-size: 14px;
  line-height: 17px;
  outline: none;
  padding: 15px 160px 15px 15px;
}
.info__number {
  border: none;
  font-size: 14px;
  line-height: 17px;
  outline: none;
  padding: 15px 123px 15px 15px;
}
.info__contoct {
  display: flex;
  align-items: center;
  padding-bottom: 30px;
  margin: 0 auto;
  justify-content: center;
}

.info__contoct button {
  padding: 13px 34px;
  margin-left: 12px;
  background: #ffca42;
  border-radius: 60px;
  border: none;
}
