

.header{
  background-color: #1F56D5;
  padding: 18px 0 22px 0;
}

.header__inner{
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.header__info{
  display: flex;
  align-items: center;
}

.header__info li {
  margin-right:24px;
}



.header-link{
  color: white;
  text-decoration: none;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;

}
.header-link:hover{
  text-decoration: underline;
}
.hamburger-btn{
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.header__languge{
  display: flex;
  color: white;
}

.header__languge a{
  color:  #B4C2F7;
  text-decoration: none;
  margin: 0 5px;
  font-size: 15px;
line-height: 18px;
}

.header__languge a:hover{
  text-decoration: underline;
  color:white;
}



.code-number{
  font-size: 15px;
  line-height: 18px;
  color: white;
}

.job-time{
  font-size: 15px;
  line-height: 18px;
  color: #B4C2F7;
}
.number-tel{
  color: #FFCA42;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  text-decoration: none;
}

.header__price {
  background: linear-gradient(180deg, #FFE298 0%, #FFBE15 100%);
  border-radius: 60px;
  padding: 16px 62px 16px 64px;
  border: none;
  font-family: Montserrat;
  -style: normal;
 font-weight: 500;
 font-size: 14px;
 line-height: 17px;
 color: #000000;
}

.page-title{
  text-align: center;

}

.page-title h1{
    font-family: Montserrat;
    font-weight: bold;
    font-size: 50px;
}

.page-title p{
  font-size: 15px;
  line-height: 18px;
}

.page-title__line{
  width: 122px;
height: 5px;
background: #FFCA42;
margin: 10px auto;
}
.header__menu{
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-grow: 0.6;
}

.header__menu-mobil,
.header__burger{
  display: none;
}

.header-mobil__top{
  display: none;
}
